# Dependencies
node_modules/

# Build
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Temporary
tmp/
temp/

# Docker Document
docker_process.md